.tableHead {
	background-color: #AABBAA;
}
.optionalForm{
	background-color: #AAAAFF;
	position:absolute;
	display: none;
}
.localMenu{
	display:block;
	position:absolute;
	top:0;
	right:0;
}
.localError{
	background-color: #FFAAAA;
	display:block;
	position:absolute;
}
.content{
	width: 100%;
	height:100%;
}